@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand',sans-serif;
    background-color: #1a1a1d;
    color: #950740;
}

h1 {
    font-size: 4vw;
    margin-bottom: 5px;
    margin-top: 10px;
}


button {
    background-color: #c3073f;
    border: 0;
    padding: 5px;
    border-radius: 2px 2px;
    font-size: 1vw;
    width: 20%;
    min-width: 200px;
    margin-left: 1.5%;
    margin-bottom: 2px;
    height: 30px;
}

input[type="submit"]:hover, button:hover {
    background-color: #c3073f; 
}

td, th  {
    border: 1px #0e0d0b solid;
    background-color: #0e0d0b;
    border-radius: 2px 2px;
    font-size: 1.4vw;
    text-align: center;
    width: 1vw;
}

table {
    margin-left: auto;
    margin-right: auto;
}

caption {
    font-size: 3vw;
    font-weight: bold;
}

p {
    font-size: 1.3vw;
}

input {
    border-radius: 2px 2px;
    height: 30px;
    width: 90%;
    border: 0;
    color: #000000;
    margin-bottom: 5px;
    background-color: #753b4c;
}

input[type="range"] {
    width: 30%;
}

input[type="date"] {
    height: 32px;
}

input[type="range"] {
    width: 78%;
}

input[type="submit"] {
    background-color: #c3073f;
    padding: 5px;
    font-size: 1vw;
    width: 20%;
    min-width: 200px;
    margin-right: 1.5%;
    margin-bottom: 2px;
}

button[onclick="backKonto()"] {
    margin-left: 2.2%;
}

textarea {
    background-color: #753b4c;
    border-radius: 2px 2px;
    font-size: 1vw;
    width: 20;
    height: 70px;
}

.polowa {
    width: 50%;
    float: left;
    text-align: center;
}

@media only screen and (max-width:800px) {
    button, input[type="submit"] {
        min-width: 100px;
        font-size: 2vw;
    }
    input[type="submit"], button[onclick="backKonto()"], input[type="number"], input[type="password"], input[type="range"], input[type="date"], input[type="text"] {
        width: 99%;
    }
    p {
        font-size: 3vw;
    }

    button[onclick="listasamochody()"], .zatwierdz{
        font-size: 3vw;
    }

    h1 {
        font-size: 8vw;
    }
    
    .polowa {
        width: 100%;
        float: none;
    }
}
