@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand',sans-serif;
    background-color: #1a1a1d;
    color: #950740;
}

p {
    font-weight: bold;
    font-size: 1.2vw;
}

h1 {
    font-weight: bold;
    font-size: 4vw;
    margin-left: 2.4%;
}

input {
    border-radius: 2px 2px;
    height: 30px;
    width: 90%;
    border: 0;
    color: #000000;
    margin-bottom: 5px;
    background-color: #753b4c;
}

input[type="range"] {
    width: 30%;
}

button {
    background-color: #c3073f;
    border: 0;
    padding: 6px;
    font-size: 1vw;
    margin-left: 2.4%;
    width: 95.2%;
}

input[type="submit"]:hover, button:hover {
    background-color: #c3073f;
}

.polowa {
    width: 50%;
    float: left;
    text-align: center;
}

@media only screen and (max-width:750px) {
    h1 {
        font-weight: bold;
        font-size: 7vw;
        text-align: center;
    }

    .polowa {
        width: 100%;
        float: none;
    }

    p {
        font-size: 3vw;
    }
    
    button {
        font-size: 3vw;
        margin-left: 4.6%;
        width: 90.7%;
    }
}