@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand',sans-serif;
    background-color: #202125;
    /* background-color: red; */
    color: #494BC3;
}

p {
    font-weight: bold;
    font-size: 1.2vw;
}

h1 {
    font-weight: bold;
    font-size: 3vw;
}

input[type="text"] {
    background-color: #484980;
    border-radius: 2px 2px;
    border: 0px;
    height: 30px;
    width: 90%;
    margin-bottom: 5px;
    color: red;
}

input[type="date"] {
    background-color: #484980;
    border-radius: 2px 2px;
    border: 0px;
    height: 30px;
    width: 90%;
    margin-bottom: 5px;
    color: red;
}

input[type="range"] {
    background-color: #484980;
    border-radius: 2px 2px;
    border: 0px;
    height: 30px;
    width: 30%;
    margin-bottom: 5px;
}

input[type="password"] {
    background-color: #484980;
    border-radius: 2px 2px;
    border: 0px;
    height: 30px;
    width: 90%;
    margin-bottom: 5px;
    color: red;
}

button {
    background-color: #494BC3;
    border: 0;
    padding: 6px;
    border-radius: 2px 2px;
    font-size: 1vw;
    margin-left: 2.4%;
    width: 95.2%;
}

.polowa {
    width: 50%;
    float: left;
    text-align: center;
}

@media only screen and (max-width:750px) {
    .polowa {
        width: 100%;
        float: none;
    }

    p {
        font-size: 3vw;
    }
    
    button {
        font-size: 3vw;
        margin-left: 4.6%;
        width: 90.7%;
    }
}