@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand',sans-serif;
    background-color: #3B3C44;
    color: #494BC3;
}

.margines {
    margin-left: calc(37%);
    width: calc(24%);
    margin-right: calc(37%);
    margin-top: 10%;
    background-color: #1A1813;
    border-radius: 10px 10px;
    font-weight: bold;
}

.padding {
    padding: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 0px;
}

input[type="text"] {
    background-color: red;
    border: 0px;
    height: 30px;
    width: 80%;
}