@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand',sans-serif;
    background-color: #202125;
    /* background-color: red; */
    color: #494BC3;
}

h1 {
    font-size: 4vw;
    margin-bottom: 5px;
    margin-top: 10px;
}


button {
    background-color: #494BC3;
    border: 0;
    padding: 5px;
    border-radius: 2px 2px;
    font-size: 1vw;
    width: 20%;
    min-width: 200px;
    margin-right: 1.5%;
    margin-bottom: 2px;
}

input[type="submit"]:hover, button:hover {
    background-color: red;
}

td, th  {
    border: 1px #0e0d0b solid;
    background-color: #0e0d0b;
    border-radius: 2px 2px;
    font-size: 1.4vw;
    text-align: center;
    width: 1vw;
}

table {
    margin-left: auto;
    margin-right: auto;
}

caption {
    font-size: 3vw;
    font-weight: bold;
}

p {
    font-size: 1.3vw;
}


input[type="text"] {
    background-color: #484980;
    border-radius: 2px 2px;
    border: 0px;
    height: 30px;
    width: 98%;
    margin-bottom: 5px;
    color: red;
}

input[type="date"] {
    background-color: #484980;
    border-radius: 2px 2px;
    border: 0px;
    height: 32px;
    width: 98%;
    margin-bottom: 5px;
    color: red;
}

input[type="range"] {
    background-color: #484980;
    border-radius: 2px 2px;
    border: 0px;
    height: 30px;
    width: 78%;
    margin-bottom: 5px;
}

input[type="password"] {
    background-color: #484980;
    border-radius: 2px 2px;
    border: 0px;
    height: 30px;
    width: 98%;
    margin-bottom: 5px;
    color: red;
}

input[type="number"] {
    background-color: #484980;
    border-radius: 2px 2px;
    border: 0px;
    height: 30px;
    width: 98%;
    margin-bottom: 5px;
    color: red;
}

input[type="submit"] {
    background-color: #494BC3;
    border: 0;
    padding: 5px;
    border-radius: 2px 2px;
    font-size: 1vw;
    width: 20%;
    min-width: 200px;
    margin-right: 1.5%;
    margin-bottom: 2px;
}

.polowa {
    width: 50%;
    float: left;
    text-align: center;
}

@media only screen and (max-width:800px) {
    button, input[type="submit"] {
        min-width: 100px;
        font-size: 2vw;
    }
    input[type="submit"], button[onclick="backKonto()"], input[type="number"], input[type="password"], input[type="range"], input[type="date"], input[type="text"] {
        width: 99%;
    }
    p {
        font-size: 3vw;
    }

    button[onclick="listasamochody()"], .zatwierdz{
        font-size: 3vw;
    }

    h1 {
        font-size: 8vw;
    }

    .polowa {
        width: 100%;
        float: none;
    }
}
